
.form-group {
	position: relative;
}

.form-group .has-feedback .form-control-feedback {
	display:none;
}

.form-group .has-feedback.has-error .form-control-feedback.icon-error {
	display:block;
}
.form-group .has-feedback.has-success .form-control-feedback.icon-success {
	display:block;
}

.form-keeper__popover {
	display: block;
	position: absolute;
	max-width: 100%;
	bottom: -19px;
	top: auto;
	background: #c14c33;
	border: 0;
	left: auto;
	right: 0;
	margin-right: 11px;
}

.form-keeper__popover p {
	margin: 2px 5px;
	color: white;
	text-shadow:0px -1px 1px #532116;
	font-size: 12px;
	font-weight: bold;
}

.form-keeper__popover a {
	color:white;
	font-size: 12px;
	text-decoration: underline;
	cursor: pointer;
	font-weight: bold;
}

.form-keeper__popover.bottom .arrow {
	margin-left: -22px;
	top: -7px;
	border-width: 0;
	left: 100%;
}

.form-keeper__popover.bottom .arrow:after {
	border-bottom-color:#c14c33;
}

.form-keeper__checkbox--group .form-keeper__popover {
	bottom:70px;
}
